#info_button {
    cursor: help !important;

    background-image: url("1.png");
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;

    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    
    /* display: block; */
    /* position: absolute; */
    width: 52px !important;
    height: 52px !important;
    /* top: calc(100vh - 74px); */
    /* right: calc(100vw - 42px); */
    /* z-index: 1000; */
}

#ddm {
    display: flex;
    align-items: center;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

html,
body {
    height: 100%;
}

body {
    background-color: #f8f9fa;
}