#info_button {
    background-image: url("2.png");
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;

    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    
    display: block;
    position: absolute;
    width: 30px !important;
    height: 30px !important;
    top: calc(100vh - 74px);
    right: calc(100vw - 42px);
    z-index: 1000;
}