#info_button {
    background-image: url("2.png");
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    /* background-color: #ffffff; */
    /* width: 50px !important;
    height: 50px !important; */
    width: 30px !important;
    height: 30px !important;
    background-repeat: no-repeat;
}