#info_button {
    cursor: help !important;

    background-image: url("1.png");
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;

    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 52px !important;
    height: 52px !important;
}

.btn:focus, .btn:active, .btn-close:focus, .btn-close:active {
    outline: none !important;
    box-shadow: none !important;
}

html,
body {
    min-height:100%;
    height: 100%;
    max-width: 100% !important;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #f8f9fa;
}

#ddm {
    position: absolute;
    /* top: calc(64px + 38px); */
    top: calc(64px + 62px);
    left: calc(100vw - 12px);
    transform: translate(-100%, -100%);
    z-index: 900;
    background-color: rgba(33, 37, 41, 0.9);
    padding: 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

._dash-loading {
    margin: auto;
    color: transparent;
    width: 0;
    height: 0;
    text-align: center;
  }
._dash-loading::after {    
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 8px solid #f8f9fa;
    border-top: 8px solid #0d6efd;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.dash-spinner * {
    display: none !important;
}
.dash-spinner {
    background-image: url("1.gif");
    background-size: contain;
    width: 100px !important;
    height: 100px !important;
    background-repeat: no-repeat;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}